<div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let article of articles" class="col">
    <div class="card h-100 shadow-sm">
      <div class="card-body">
        <h2 class="card-title">{{ article.title }}</h2>
        <p class="card-text">{{ article.body }}</p>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-start">
          <div class="btn-group">
            <button [routerLink]="['/article', article.id]" class="btn btn-sm btn-outline-dark">Voir les détails</button>
            <button [routerLink]="['/edit', article.id]" class="btn btn-sm btn-outline-success">Modifier</button>
            <button (click)="deleteArticle(article.id)" class="btn btn-sm btn-outline-danger">Supprimer</button>          </div>
        </div>
      </div>
    </div>
  </div>
</div>
