
<div class="container">
  <h2>Article Details</h2>
  <div *ngIf="article">
    <h3>{{ article.title }}</h3>
    <p>{{ article.body }}</p>

    <button class="btn btn-danger" >Supprimer</button>
    <!-- (click)="deleteArticle(article.id)" -->
    <button routerLink="/" class="btn btn-secondary">Retour à la liste</button>

    <hr>
    <h4>Commentaires</h4>
    <div *ngIf="comments.length === 0">Aucun commentaire disponible.</div>
    <div *ngFor="let comment of comments" class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ comment.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ comment.email }}</h6>
        <p class="card-text">{{ comment.body }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="!article">
    <p>Loading...</p>
  </div>
</div>
